.password-rules {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .password-rules p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 6px 0;
    color: #aaa;
    font-size: 14px;
  }
  
  .password-rules p.valid {
    color: #70ffb0;
  }