<div class="review-viewer-container">

  <h2>{{ title }}</h2>


  <div *ngIf="errorMessage" class="error-message">

    <p>{{ errorMessage }}</p>

    <p>Please try again later.</p>

  </div>


  <ul class="review-list" *ngIf="isLoading">

    <li *ngFor="let item of skeletonCards">

      <app-review-card-skeleton>
      </app-review-card-skeleton>

    </li>

  </ul>


  <div *ngIf="!isLoading && !errorMessage">


    <div *ngIf="reviews && reviews.length > 0; else noReviews">


      <ul class="review-list">


        <li *ngFor="let review of reviews; trackBy: trackByReview">


          <ng-container *ngIf="cardComponent === 'ReviewCardComponent'; else itemCard">


            <app-review-card [review]="review">
            </app-review-card>


          </ng-container>


          <ng-template #itemCard>


            <app-item-review-card [review]="review">
            </app-item-review-card>


          </ng-template>


        </li>


      </ul>


    </div>


    <ng-template #noReviews>


      <p class="no-reviews-message">
        No reviews found yet.
      </p>


    </ng-template>


  </div>


</div>