<app-profile-header-skeleton *ngIf="isLoading"></app-profile-header-skeleton>


<div class="profile-header" *ngIf="!isLoading && user as u">

    <div class="profile-info">

        <img class="profile-picture" [src]="u.profilePicUrl" alt="Profile picture">


        <h2 class="username">
            {{u.username}}
        </h2>


        <div class="stats">

            <span>
                Reviews:
                <strong>
                    {{reviews.length}}
                </strong>
            </span>


            <span class="divider">|</span>


            <button mat-button (click)="openUserList('Followers',u.followers || [])">

                Followers:
                {{u.followers?.length || 0}}

            </button>


            <span class="divider">|</span>


            <button mat-button (click)="openUserList('Following',u.following || [])">

                Following:
                {{u.following?.length || 0}}

            </button>



            <ng-container *ngIf="showFollow">


                <span class="divider">|</span>


                <button mat-button *ngIf="!isFollowing" (click)="followClick()">

                    Follow

                </button>


                <button mat-button *ngIf="isFollowing" (click)="unfollowClick()">

                    Unfollow

                </button>


            </ng-container>



            <ng-container *ngIf="showLogout">

                <span class="divider">|</span>

                <button mat-button (click)="logoutClick()">

                    Logout

                </button>

            </ng-container>


        </div>


    </div>

</div>


<app-review-viewer [reviews]="reviews" [cardComponent]="cardComponent" [isLoading]="isReviewsLoading"
    [errorMessage]="errorMessage">

</app-review-viewer>