.auth-page {
    min-height: 100vh;
    background: #05031a;
    display: flex;
}


.auth-container {
    display: flex;
    width: 100%;
}


.auth-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 15px;

    color: white;
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 60px;
}


.logo i {
    color: #ff9500;
    font-size: 36px;
}


.form-container {
    max-width: 400px;
}


form h3 {
    color: white;
    font-size: 34px;
    margin-bottom: 10px;
}


.subtitle {
    color: #aaa;
    margin-bottom: 35px;
}


.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}


.input-group label {
    color: #ddd;
    margin-bottom: 8px;
}


.input-group input {

    background: #ffffff12;

    border: 1px solid #ffffff30;

    border-radius: 8px;

    padding: 14px;

    color: white;

    font-size: 16px;

    outline: none;
}


.input-group input:focus {

    border-color: #ff9500;

}


button {

    width: 100%;

    padding: 14px;

    border-radius: 8px;

    border: none;

    background: #ff9500;

    color: white;

    font-size: 17px;

    font-weight: 600;

    cursor: pointer;

    transition: .2s;

}


button:hover {

    background: #ffb347;

}


.switch-text {

    color: #aaa;

    margin-top: 25px;

}


.switch-text a {

    color: #ff9500;

    cursor: pointer;

}


.error-message {

    background: #ff003322;

    border: 1px solid #ff003355;

    color: #ff7070;

    padding: 12px;

    border-radius: 8px;

    margin-bottom: 20px;

}


.image-panel {

    width: 50%;

    position: relative;

}


.image-panel img {

    width: 100%;

    height: 100vh;

    object-fit: cover;

}


.overlay {

    position: absolute;

    inset: 0;

    background:
        linear-gradient(90deg,
            #05031a 0%,
            transparent 50%);

}


.quote {

    position: absolute;

    bottom: 80px;

    left: 60px;

    color: white;

}


.quote h1 {

    font-size: 48px;

    line-height: 1.1;

}


.quote p {

    color: #ddd;

    font-size: 18px;

}


@media(max-width:900px) {

    .image-panel {
        display: none;
    }

    .auth-panel {
        width: 100%;
    }

}

.success-message {

    background: #00ff5522;

    border: 1px solid #00ff5566;

    color: #70ff9b;

    padding: 12px;

    border-radius: 8px;

    margin-bottom: 20px;

}

.switch-text a {
    color: #ff9500;
    cursor: pointer;
}


.switch-text span {
    color: #aaa;
}