
body {
  background-color: powderblue;
}
main {
  background-color: transparent;
  margin-left: 80px; /* same as your fixed header width */
  padding: 20px;     /* optional padding for spacing */
  box-sizing: border-box;
}

.custom-logo {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
}