
body {
  background-color: powderblue;
}
main {
  background-color: transparent;
  margin-left: 80px; /* same as your fixed header width */
  padding: 20px;     /* optional padding for spacing */
  box-sizing: border-box;
}

.custom-logo {
  display: block;
  width: clamp(250px, 40vw, 400px);
  height: auto;
  margin: 0 auto;
}

/* MOBILE */
@media (max-width: 600px) {

  main {
    margin-left: 0;
    width: 100%;
    padding: 20px;
    padding-bottom: 85px;
  }
}