
body {
  background-color: powderblue;
}
main {
  background-color: transparent;
  margin-left: 80px; /* same as your fixed header width */
  padding: 20px;     /* optional padding for spacing */
  box-sizing: border-box;
}

.custom-title {
  font-family: 'Rollingstar', sans-serif;
  font-size: 60px;
  width: fit-content;
  margin: 0 auto;
}