.password-wrapper {
    position: relative;
}

.eye-button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #aaa;
    width: auto;
    padding: 0;
    cursor: pointer;
}

.eye-button:hover {
    background: none;
    color: #ff9500;
}

.eye-button i {
    font-size: 18px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.input-group label {
    color: #ddd;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    background: #ffffff12;
    border: 1px solid #ffffff30;
    border-radius: 8px;
    padding: 14px;
    padding-right: 45px;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #ff9500;
}