<app-auth-page>

  @if(isLoginView) {

  <form>

    <h3>Welcome Back</h3>

    <p class="subtitle">
      Log in to continue discovering music.
    </p>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <div class="input-group">

      <label>Username or Email</label>

      <input name="username" [(ngModel)]="loginObj.login" type="text" required />

    </div>


    <app-password-input label="Password" name="password" [(value)]="loginObj.password">
    </app-password-input>


    <button type="button" (click)="onLogin()">

      Login

    </button>


    <p class="switch-text">

      <a (click)="goToForgotPassword()">
        Forgot password?
      </a>

    </p>


    <p class="switch-text">

      Don't have an account?

      <a (click)="switchView(false)">
        Register here
      </a>

    </p>


  </form>


  } @else {


  <form>

    <h3>Create Account</h3>

    <p class="subtitle">
      Join the music conversation.
    </p>


    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>


    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>


    <div class="input-group">

      <label>Email</label>

      <input name="email" [(ngModel)]="registerObj.email" type="email" required />

    </div>


    <div class="input-group">

      <label>Username</label>

      <input name="username" [(ngModel)]="registerObj.username" type="text" required />

    </div>


    <app-password-input label="Password" name="password" [(value)]="registerObj.password">
    </app-password-input>


    <app-password-input label="Confirm Password" name="confirmPassword" [(value)]="registerObj.confirmPassword">
    </app-password-input>


    <app-password-rules [password]="registerObj.password">
    </app-password-rules>


    <button type="button" (click)="onRegister()">

      Register

    </button>


    <p class="switch-text">

      Already have an account?

      <a (click)="switchView(true)">
        Login here
      </a>

    </p>


  </form>


  }

</app-auth-page>