<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<app-item-card-skeleton *ngIf="isLoading" [imageShape]="resolvedImageShape">
</app-item-card-skeleton>


<div *ngIf="!isLoading" class="item-card" (click)="onItemClick()">


  <div class="image-container" [class.circle]="resolvedImageShape === 'circle'"
    [class.square]="resolvedImageShape === 'square'">

    <img [src]="item.imageURL" [alt]="item.name" class="item-image clickable">

  </div>


  <div class="item-info">

    <h1 class="item-name">
      {{item.name}}
    </h1>


    <div class="item-meta">

      <span class="item-type">
        {{item.type | titlecase}}
      </span>


      <span *ngIf="showArtists && getArtistNames()">
        • {{getArtistNames()}}
      </span>


    </div>

  </div>


  <div class="social-links">

    <a href="#" class="spotify-button" (click)="onSpotifyClick($event)">

      <i class="fa fa-spotify"></i>

    </a>

  </div>


</div>