/* ==========================
   ITEM CARDS
   ========================== */

.item-card {
  background-color: #0905303d;
  border-radius: var(--radius-md);

  padding: var(--space-sm) var(--space-md);
  margin: 6px;

  display: flex;
  align-items: center;
  gap: var(--space-md);

  width: 100%;
  height: 72px;

  box-shadow: var(--shadow-item-card);

  transition: .15s ease;
}

.item-card:hover {
  background-color: #ff950055;
  transform: translateY(-1px);
}

.image-container {
  width: 52px;
  height: 52px;

  overflow: hidden;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #333;
}


.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;

  text-align: left;
  overflow: hidden;
}


.item-name {
  margin: 0;

  color: white;
  font-size: 1.5rem;
  font-weight: 700;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-meta {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: .9rem;
  color: var(--text-secondary);
}


.listen-button-container {
  display: flex;
  align-items: center;
}


.spotify-button {
  background: var(--spotify-green);
  color: white;

  border: none;
  border-radius: var(--radius-lg);

  padding: 5px 10px;

  font-size: 12px;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 5px;

  transition: .2s ease;
}


.spotify-button:hover {
  background: var(--spotify-green-hover);
}


.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--space-sm);
  padding: var(--space-md);
}