<div class="review-card" *ngIf="review">

  <article *ngIf="item as currentItem" class="review-row">

    <a class="item-image clickable" [routerLink]="['/item', currentItem.id]">
      <img [src]="currentItem.imageURL" [alt]="currentItem.name" [class.circle]="currentItem.type === 'artist'"
        [class.square]="currentItem.type !== 'artist'" />
    </a>


    <header class="review-info">

      <h1 class="item-name clickable" [routerLink]="['/item', currentItem.id]">
        {{ currentItem.name }}
      </h1>

      <span class="item-type">
        {{ itemType | titlecase }}
      </span>

      <span *ngIf="artists.length">
        •
        <ng-container *ngFor="let artist of artists; let last = last">
          <a class="artist-name clickable" [routerLink]="['/item', artist.id]">
            {{ artist.name }}
          </a>
          <span *ngIf="!last">, </span>
        </ng-container>
      </span>

      <h2 class="username clickable" [routerLink]="['/profile', review.username]">
        {{ review.username }}
      </h2>

      <span class="stars">
        <i *ngFor="let _ of stars" class="fa fa-star"></i>
      </span>

      <p class="description">
        {{ review.description }}
      </p>

    </header>


    <aside class="review-meta">

      <time class="review-date">
        <span *ngIf="wasUpdated">
          Updated {{ review.updatedAt | timeAgo }}
        </span>

        <span *ngIf="!wasUpdated">
          {{ review.createdAt | timeAgo }}
        </span>
      </time>


      <button class="like-button review-like" (click)="toggleLike()" [class.liked]="review.likedByCurrentUser">

        <span class="music-notes">
          <span>♪</span>
          <span>♫</span>
          <span>♪</span>
        </span>

        <span class="count">
          {{ review.likeCount }}
        </span>

      </button>

    </aside>

  </article>

</div>