<div class="item-card" *ngIf="item">

    <div class="image-container">

        <img [src]="item.imageURL" [alt]="item.name" class="item-image" [class.circle]="item.type === 'artist'"
            [class.square]="item.type !== 'artist'">

    </div>


    <div class="item-info">

        <h3 class="item-name">
            {{ item.name }}
        </h3>


        <div class="item-meta">

            <span class="item-type">
                {{ item.type | titlecase }}
            </span>


            <span *ngIf="getArtists()">
                • {{ getArtists() }}
            </span>

        </div>

    </div>

</div>