<section class="auth-page">

    <div class="auth-container">

        <div class="auth-panel">

            <div class="logo">
                <i class="fa fa-compact-disc"></i>
                <span>MMAD Music</span>
            </div>

            <div class="form-container">

                <ng-content></ng-content>

            </div>

        </div>


        <div class="image-panel">

            <img src="https://images.unsplash.com/photo-1526394931762-90052e97b376?q=80&w=1974&auto=format&fit=crop"
                alt="Music">

            <div class="overlay"></div>


            <div class="quote">

                <h1>
                    Music is meant
                    <br>
                    to be shared.
                </h1>

                <p>
                    Discover albums. Share opinions.
                    Connect through sound.
                </p>

            </div>

        </div>

    </div>

</section>