<app-item-page-skeleton *ngIf="isLoading"></app-item-page-skeleton>

<div class="page-layout" *ngIf="!isLoading">

  <section class="main">

    <div *ngIf="item" class="item-header">

      <img [src]="item.imageURL" [alt]="item.name" class="item-image">

      <div class="item-details">

        <h1>
          {{item.name}}
        </h1>

        <span class="item-type">
          {{item.type | titlecase}}
        </span>

        <div class="item-artists" *ngIf="isAlbum || isSong">

          <span>
            Artist:
          </span>


          <ng-container *ngIf="album?.artists?.length">

            <ng-container *ngFor="let artist of album!.artists; let last = last">

              <a class="artist-link" (click)="openArtist(artist)">
                {{artist.name}}
              </a>

              <span *ngIf="!last">
                ,
              </span>

            </ng-container>

          </ng-container>


          <ng-container *ngIf="song?.artists?.length">

            <ng-container *ngFor="let artist of song!.artists; let last = last">

              <a class="artist-link" (click)="openArtist(artist)">
                {{artist.name}}
              </a>

              <span *ngIf="!last">
                ,
              </span>

            </ng-container>

          </ng-container>


        </div>
        <p class="rating-summary">

          <strong>
            {{averageRating | number:'1.1-1'}}
          </strong>/10

          ({{reviewCount}}
          {{reviewCount === 1 ? 'review' : 'reviews'}})

        </p>

        <ng-container *ngIf="album as currentAlbum">

          <p *ngIf="currentAlbum.releaseDate">
            Released:
            {{currentAlbum.releaseDate | date:'MMMM d, y'}}
          </p>

        </ng-container>

        <p *ngIf="isAlbum && albumDurationMs">

          Total Length:
          {{formatDuration(albumDurationMs)}}

        </p>


        <ng-container *ngIf="song as currentSong">

          <p *ngIf="currentSong.releaseDate">

            Released:
            {{currentSong.releaseDate | date:'MMMM d, y'}}

          </p>


          <p *ngIf="currentSong.durationMs">

            Duration:
            {{formatDuration(currentSong.durationMs)}}

          </p>

        </ng-container>


        <button class="review-btn" (click)="openReviewModal()">

          Write a Review

        </button>


      </div>

    </div>


    <app-review-viewer [reviews]="reviews" [cardComponent]="cardComponent" [isLoading]="false"
      [errorMessage]="errorMessage">
    </app-review-viewer>


  </section>


  <section class="side">


    <div *ngIf="isArtist" class="side-box">

      <h3>
        Albums
      </h3>


      <div *ngIf="albums.length; else noAlbums" class="side-scroll">

        <app-item-card *ngFor="let album of albums" [item]="album" imageShape="square">
        </app-item-card>

      </div>


      <ng-template #noAlbums>

        <p>
          No albums found.
        </p>

      </ng-template>


    </div>



    <div *ngIf="isAlbum" class="side-box">

      <h3>
        Track List
      </h3>


      <div *ngIf="songs.length; else noTracks" class="side-scroll">


        <app-album-songs *ngFor="let song of songs; let i = index" [song]="song" [trackNumber]="i + 1">
        </app-album-songs>


      </div>


      <ng-template #noTracks>

        <p>
          No tracks found.
        </p>

      </ng-template>


    </div>



    <div *ngIf="isSong" class="side-box">

      <h3>
        Album
      </h3>


      <ng-container *ngIf="song as currentSong">


        <app-item-card *ngIf="currentSong.album" [item]="currentSong.album" imageShape="square">
        </app-item-card>


        <p *ngIf="!currentSong.album">

          No album found.

        </p>


      </ng-container>


    </div>


  </section>


</div>