<app-auth-page title="Get back to your music." subtitle="Reset your password and continue discovering."
  image="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?q=80&w=1974&auto=format&fit=crop">

  <form>

    <h3>Forgot Password</h3>

    <p class="subtitle">
      Enter your email and we will send you a password reset code.
    </p>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>


    <div class="input-group">

      <label>Email</label>

      <input name="email" [(ngModel)]="email" type="email" required />

    </div>


    <button type="button" (click)="sendCode()">

      Send Reset Code

    </button>


    <p class="switch-text">

      Remember your password?

      <a (click)="router.navigate(['/login'])">
        Login here
      </a>

    </p>


  </form>

</app-auth-page>