<div class="review-card" *ngIf="review">

  <div class="review-content">

    <!-- USER -->
    <h2 class="username clickable" [routerLink]="['/profile', review.username]">
      {{ review.username }}
    </h2>

    <!-- STARS -->
    <span class="stars">
      <span *ngFor="let _ of stars">⭐</span>
    </span>

    <!-- REVIEW TEXT -->
    <div class="description">
      {{ review.description }}
    </div>

    <!-- DATE -->
    <div class="review-date">
      {{ review.createdAt | date:'mediumDate' }}
    </div>

  </div>

</div>