<div class="page-layout">

    <section class="main">

        <div class="item-header">

            <div class="skeleton-image"></div>

            <div class="item-details">

                <div class="skeleton-line title"></div>

                <div class="skeleton-line type"></div>

                <div class="skeleton-line"></div>

                <div class="skeleton-line short"></div>

                <div class="skeleton-button"></div>

            </div>

        </div>


        <app-review-viewer [reviews]="[]" [cardComponent]="'ItemReviewCardComponent'" [isLoading]="true">
        </app-review-viewer>

    </section>


    <section class="side">

        <div class="side-box">

            <div class="skeleton-line side-title"></div>

            <div class="side-card-skeleton"></div>

            <div class="side-card-skeleton"></div>

            <div class="side-card-skeleton"></div>

        </div>

    </section>

</div>