<div class="review">

    <div class="review-row">
  
      <div class="skeleton-image"></div>
  
  
      <div class="review-body">
  
        <div class="body-top">
  
          <div class="skeleton-line title"></div>
  
          <div class="skeleton-line info"></div>
  
          <div class="skeleton-line username"></div>
  
        </div>
  
  
        <div class="skeleton-stars"></div>
  
  
        <div class="body-middle">
  
          <div class="skeleton-line description"></div>
  
          <div class="skeleton-line description short"></div>
  
        </div>
  
      </div>
  
  
      <div class="review-date">
  
        <div class="skeleton-line date"></div>
  
      </div>
  
  
    </div>
  
  </div>